/* Add a gray background color and some padding to the footer */
*{
    border-radius: 0;
}
body{
    font-family: iranianSans;
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapContainer{
    background-color: rgba(0,0,0,0.5);
    margin-top: 50px;
    padding-top: 5px;
}
.navbar-default {
    background-color: #d5641c;
    border-color: #d5641c;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}